@charset "UTF-8";

.pagina{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.groups{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-template-columns: 1fr 1fr 1fr 1fr;  
    font-family: Candara;  
    font-style: oblique;   
}

h1{   
    grid-column-start: 1;
    grid-column-end: 3;
}

body{
    text-align: center;
    margin: 20;
    padding: ;
    background-color: #d9faef;
    font-family: Candara;
}   

.secret{
    display: none;
}

.button_groups{
    grid-column-start: 2;   
    text-align: center;
}

.oitavas{
    grid-column-start: 3;  
    text-align: center;
}
.group_A{
    background-color: #99ffdd;   
    grid-template-rows: 1fr 1fr;
    margin-left: 20px; 
    margin-right: 20px;
    margin-bottom: 20px;
}
.group_B{
    background-color: #99ffdd;  
    margin-right: 20px;
    margin-bottom: 20px;
}
.group_C{
    background-color: #99ffdd; 
    margin-right: 20px; 
    margin-bottom: 20px;
}
.group_D{
    background-color: #99ffdd;  
    margin-right: 20px;
    
}
.group_E{
    background-color: #99ffdd;
    margin-left: 20px; 
    margin-right: 20px;  
}
.group_F{
    background-color: #99ffdd;  
    margin-right: 20px;
}
.group_G{
    background-color: #99ffdd;
    margin-right: 20px;  
}
.group_H{
    background-color: #99ffdd;  
    margin-right: 20px;
}

.half{
    display: inline-block;
}


