/*Fase de grupos*/
.groups_fs{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-end: 5;
    grid-template-columns: 1fr 1fr 1fr 1fr;  
    font-family: Candara;  
    font-style: oblique;   
}
.group_A_fs{   
    background-color: #99ffdd;   
    grid-template-rows: 1fr 1fr 1fr;
    margin-left: 20px; 
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}
.group_B_fs{
    background-color: #99ffdd;  
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}
.group_C_fs{
    background-color: #99ffdd; 
    margin-right: 20px; 
    margin-bottom: 20px;
    border-radius: 20px;
}
.group_D_fs{
    background-color: #99ffdd;  
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}
.group_E_fs{
    background-color: #99ffdd;
    margin-left: 20px; 
    margin-right: 20px;  
    border-radius: 20px;
}
.group_F_fs{
    background-color: #99ffdd;  
    margin-right: 20px;
    border-radius: 20px;
}
.group_G_fs{
    background-color: #99ffdd;
    margin-right: 20px;  
    border-radius: 20px;
}
.group_H_fs{
    background-color: #99ffdd;  
    margin-right: 20px;
    border-radius: 20px;
}
/*Fase de grupos*/



.groups{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;  
    font-family: Candara;  
    font-style: oblique;   
}

h2{
    font-size: 13px;
    font-weight: 600;
    
}

.jogo1{
    background-color: #7ff7cf;
    margin-bottom: 20px;    
    border-radius: 20px;
    margin-bottom: 40px;
}
.jogo2{
    background-color: #7ff7cf;    
    border-radius: 20px;
    border-radius: 20px;
}
.jogo3{
    background-color: #7ff7cf;
    margin-top: 20px;    
    border-radius: 20px;
    border-radius: 20px;
}
.ranking_fg{
    background-color: #7ff7cf;
    margin-top: 20px;    
    border-radius: 20px;
    border-radius: 20px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 600;
}


h1{   
    grid-column-start: 1;
    grid-column-end: 3;
}

body{
    text-align: center;
    margin: 20;   
    background-color: #d9faef;
    font-family: Candara;
}   

.secret{
    display: none;
}

/*Estilisando botões*/
.button{    
    background-color: #7ff7cf;
    color: black;
    border-radius: 4px;
    cursor: pointer;
    font-size: 25px;   
    
}
.button:hover{
    background-color: rgb(208, 255, 255);
    color: black;
}
.button1{    
    background-color: #7ff7cf;
    color: black;
    border-radius: 4px;
    cursor: pointer;
    font-size: 25px;
}
.button1:hover{
    background-color: rgb(208, 255, 255);
    color: black;
}
.button2{    
    background-color: #7ff7cf;
    color: black;
    border-radius: 4px;
    cursor: pointer;
    font-size: 25px;
}
.button2:hover{
    background-color: rgb(208, 255, 255);
    color: black;
}
.button3{    
    background-color: #7ff7cf;
    color: black;
    border-radius: 4px;
    cursor: pointer;
    font-size: 25px;
}
.button3:hover{
    background-color: rgb(208, 255, 255);
    color: black;
}
.button4{    
    background-color: #7ff7cf;
    color: black;
    border-radius: 4px;
    cursor: pointer;
    font-size: 25px;
}
.button4:hover{
    background-color: rgb(208, 255, 255);
    color: black;
}
.button5{    
    background-color: #7ff7cf;
    color: black;
    border-radius: 4px;
    cursor: pointer;
    font-size: 25px;
}
.button5:hover{
    background-color: rgb(208, 255, 255);
    color: black;
}
.button6{    
    background-color: #7ff7cf;
    color: black;
    border-radius: 4px;
    cursor: pointer;
    font-size: 25px;
}
.button6:hover{
    background-color: rgb(208, 255, 255);
    color: black;
}

.oitavas{
    grid-column-start: 3;  
    text-align: center;
}

.group_A{
    background-color: #99ffdd; 
    margin-left: 10px;   
    margin-bottom: 40px;
    border-radius: 20px;    
}
.group_B{
    background-color: #99ffdd;  
    margin-left: 20px; 
    margin-bottom: 40px;
    border-radius: 20px;
}
.group_C{
    background-color: #99ffdd; 
    margin-left: 20px; 
    margin-bottom: 40px;
    border-radius: 20px;
}
.group_D{
    background-color: #99ffdd;  
    margin-left: 20px; 
    margin-bottom: 40px;
    border-radius: 20px;
    
}
.group_E{
    background-color: #99ffdd;    
    margin-left: 20px; 
    border-radius: 20px;
    margin-bottom: 40px;
}
.group_F{
    background-color: #99ffdd;  
    margin-left: 20px; 
    border-radius: 20px;
    margin-bottom: 40px;
}
.group_G{
    background-color: #99ffdd;
    margin-left: 20px;     
    border-radius: 20px;
    margin-bottom: 40px;
}
.group_H{
    background-color: #99ffdd;  
    margin-left: 20px; 
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 40px;
}

.half{
    grid-template-columns: 2fr 1fr 2fr;
    display: grid;    
}

.line{    
    display: grid;  
    grid-template-columns: 1fr;   
    text-align: center;
}

.groups1{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-template-columns: 1fr 1fr 1fr 1fr;  
    font-family: Candara;  
    font-style: oblique;   
    text-align: center;
}
.groups2{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-template-columns: 1fr 1fr;  
    font-family: Candara;  
    font-style: oblique;   
    text-align: center;
}
.groups3{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-template-columns: 1fr 1fr 1fr 1fr;  
    font-family: Candara;  
    font-style: oblique;   
    text-align: center;
}
.vs{
    padding-top:100%;
}
.vs1{
    padding-top:50%;
}

.semi1{
    background-color: #99ffdd; 
    margin-left: 400px;   
    margin-right: 10px;
    margin-bottom: 40px;
    border-radius: 20px;    
}
.semi2{
    background-color: #99ffdd; 
    margin-right: 400px;   
    margin-left: 10px;
    margin-bottom: 40px;
    border-radius: 20px; 

}
.group_final{
    display: grid;
    grid-template-rows: 1fr 1fr;  
    font-family: Candara;  
    font-style: oblique;   
    text-align: center;
}
.final_a{ 
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #99ffdd; 
    margin-right: 600px;   
    margin-left: 600px;  
    margin-bottom: 200px;
    border-radius: 20px; 
}
.tittle_final{
    font-size: 30px;
}

.and{
    padding-top:100%;
}

.title_games{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

/*Ocultando e voltando botões e conteúdos a visibilidade*/
.simulando_fase_de_grupos{
    display:none;
}
.oitavas_sim{
    display:none;
}
.quartas_sim{
    display:none;
}
.semi_sim{
    display:none;
}
.final_sim{
    display:none;
}


/*Botões*/
.button1{
    display:none;
    margin-left: 750px;
    margin-right: 750px;
}
.button2{
    margin-left: 750px;
    margin-right: 750px;
}
.button3{
    display:none;
    margin-left: 750px;
    margin-right: 750px;
}
.button4{
    display:none;
    margin-left: 750px;
    margin-right: 750px;
}
.button5{
    display:none;
    margin-left: 750px;
    margin-right: 750px;
}
.button6{
    display:none;
    margin-left: 750px;
    margin-right: 750px;
}


