.groups{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;  
    font-family: Candara;  
    font-style: oblique;   
}

h2{
    font-size: 13px;
    font-weight: 600;
    
}

.jogo1{
    background-color: #7ff7cf;
    margin-bottom: 20px;    
    border-radius: 20px;
    margin-bottom: 40px;
}
.jogo2{
    background-color: #7ff7cf;    
    border-radius: 20px;
    border-radius: 20px;
}
.jogo3{
    background-color: #7ff7cf;
    margin-top: 20px;    
    border-radius: 20px;
    border-radius: 20px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 600;
}


h1{   
    grid-column-start: 1;
    grid-column-end: 3;
}

body{
    text-align: center;
    margin: 20;   
    background-color: #d9faef;
    font-family: Candara;
}   

.secret{
    display: none;
}

.button{    
    background-color: #7ff7cf;
    color: black;
    border-radius: 4px;
    cursor: pointer;
    font-size: 25px;
}
.button:hover{
    background-color: rgb(208, 255, 255);
    color: black;
}

.oitavas{
    grid-column-start: 3;  
    text-align: center;
}

.group_A{
    background-color: #99ffdd; 
    margin-left: 10px;   
    margin-bottom: 40px;
    border-radius: 20px;    
}
.group_B{
    background-color: #99ffdd;  
    margin-left: 20px; 
    margin-bottom: 40px;
    border-radius: 20px;
}
.group_C{
    background-color: #99ffdd; 
    margin-left: 20px; 
    margin-bottom: 40px;
    border-radius: 20px;
}
.group_D{
    background-color: #99ffdd;  
    margin-left: 20px; 
    margin-bottom: 40px;
    border-radius: 20px;
    
}
.group_E{
    background-color: #99ffdd;    
    margin-left: 20px; 
    border-radius: 20px;
    margin-bottom: 40px;
}
.group_F{
    background-color: #99ffdd;  
    margin-left: 20px; 
    border-radius: 20px;
    margin-bottom: 40px;
}
.group_G{
    background-color: #99ffdd;
    margin-left: 20px;     
    border-radius: 20px;
    margin-bottom: 40px;
}
.group_H{
    background-color: #99ffdd;  
    margin-left: 20px; 
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 40px;
}

.half{
    grid-template-columns: 2fr 1fr 2fr;
    display: grid;    
}

.vs{
    padding-top:100%;
}

.title_games{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

